<h1>Add a new Comment</h1>

<%= form_with model: @comment, url: user_post_comments_path do |form|  %>
<div>
  <%= form.label :text, "My Comment" %><br>
  <%= form.text_area :text, size: "150x5", class:"post-title" %>
</div>

  <%= form.submit "Create comment" %>
<% end %>