<h2> ALL USERS </h2>
<ul class="users-list">
  <% @users.each do |user|%>
    <li>
    <img class='profile-index-photo' src='<%= user.photo %>' alt="<%= user.name %>'s profile picture" />
      <div class="user-info">
        <p class="user_name">
          <%= link_to user.name, "/users/#{user.id}" %>
        </p>
        <p class="user_post-counter">Number of posts: <%= user.posts.count %></p>
      </div>
    </li>
  <%end%>
</ul>
